.haisha-bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  padding-top: 15rpx;
  padding-bottom: 160rpx;

  .book-item {
    width: 28%;
    /* 可根据实际需求调整每本图书的宽度占比 */
    margin-bottom: 40rpx;
    margin-left: 20rpx;
    margin-right: 20rpx;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cover {
      width: 100%;
      height: 300rpx;
      /* 可根据需要调整高度 */
      border: 0.5rpx solid #ccc;
      margin-bottom: 10rpx;
    }

    .text {
      font-size: 16rpx;
      font-weight: 600;
    }

  }
}