.haisha-book-preview-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 245, 245);

  .none {
    display: none !important;
  }

  .book-pages {
    width: 100%;
    margin-top: 160rpx;

    .book-page-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .book-page {
        width: 95%;
      }
    }
  }

  .top-bar {
    position: fixed;
    top: 0rpx;
    // left: 20rpx;
    display: flex;
    padding-top: 30rpx;
    width: 100%;
    height: 60rpx;
    background-color: white;
    border-bottom: 0.5rpx solid rgb(235, 235, 235);
    padding-bottom: 20rpx;
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
    // color: white;
    color: rgb(80, 80, 80);
    z-index: 10;

    transition: all 0.1s ease-in;
    opacity: 0;

    .left-container {
      margin-left: 10px;
    }

    .right-container {
      margin-right: 10px;
    }

    .file-audio {
      margin-right: 10px;
    }

    .back-button {
      font-size: 32rpx;
      font-weight: 500;

    }

    .title {
      font-size: 45rpx;
      font-weight: 500;
    }
  }

  .bottom-bar {
    position: fixed;
    bottom: 0rpx;
    left: 0rpx;
    width: 100%;
    height: 80rpx;
    // background-color: rgba(0, 0, 0, 0.5);
    border: 0.5rpx solid rgb(235, 235, 235);
    padding-top: 20rpx;
    padding-bottom: 50rpx;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(80, 80, 80);
    // color: rgb(66, 134, 135);
    z-index: 10;
    transition: all 0.1s ease-in;

    opacity: 0;

    .catalog-button,
    .audio-button {
      font-size: 30rpx;
      font-weight: 500;
      // color: rgb(66, 134, 135);
    }

    .flex-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .menu {
        margin-right: 10rpx;
      }

      .file-audio {
        margin-right: 10rpx;
      }
    }
  }

  .height {
    // height: 80rpx !important;
    // padding-top: 20rpx !important;
    // padding-bottom: 50rpx !important;
    // transition: height 1.5s, padding-top 1.5s, padding-bottom 1.5s;
    // transition: all 1.5s;
    opacity: 1;
  }

  .page-number {
    color: rgb(80, 80, 80);
    // font-weight: 500;
  }
}

.book-preview-catalog {
  background-color: rgb(245, 245, 245);
}