.haisha-book-preview-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 245, 245);

  .none {
    display: none !important;
  }

  .book-pages {
    width: 100%;
  }

  .book-page {
    width: 100%;
  }

  .top-bar {
    position: fixed;
    top: 30rpx;
    // left: 20rpx;
    width: 100%;
    height: 60rpx;
    // background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    // color: white;
    color: rgb(80, 80, 80);
    z-index: 10;

    transition: ease-in 3s;

    .left-container {
      margin-left: 10px;
    }

    .file-audio {
      margin-right: 10px;
    }

    .back-button {
      font-size: 32rpx;
    }
  }

  .bottom-bar {
    position: fixed;
    bottom: 50rpx;
    left: 0rpx;
    width: 100%;
    height: 80rpx;
    // background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    align-items: center;
    // color: rgb(80, 80, 80);
    color: rgb(80, 80, 80);
    z-index: 10;

    .catalog-button,
    .audio-button {
      font-size: 30rpx;
    }
  }

  .page-number {
    // color: #ccc;
    color: rgb(80, 80, 80);
  }
}

.book-preview-catalog {
  background-color: rgb(245, 245, 245);
}